<ion-header>
    <ion-toolbar color="dark">
    <ion-title class="tellevo">TeLlevoAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-1">
      <ion-row class="row1"></ion-row>     
      <ion-row class="row2"></ion-row>
  </ion-grid>
<ion-slide>
<div class="cont-login">
  
  <ion-grid>
      <ion-row>
          <ion-col>
              <h1 class="nombreInicio"><ion-icon name="car-sport-outline"></ion-icon></h1>
              <h7 class="texto1">La nueva forma de moverte</h7>
          </ion-col>
      </ion-row>
      <ion-row>
      <ion-card-content class="card">
        <ion-item>
          <ion-label position="floating">Nombre </ion-label>
          <ion-input #txtNombre></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Patente </ion-label>
          <ion-input #txtPatente></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Imagen </ion-label>
          <ion-input #txtImagen></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio </ion-label>
          <ion-input #txtPrecio></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Capacidad </ion-label>
          <ion-input #txtCapacidad></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Auto </ion-label>
          <ion-input #txtAuto></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo Pago </ion-label>
          <ion-input #txtPago></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora </ion-label>
          <ion-input #txtHora></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hacia (Direccion) </ion-label>
          <ion-input #txtArea></ion-input>
        </ion-item>
        <ion-button (click)="presentAlert3()" expand="full" (click)="guardar(txtNombre,txtPatente,txtImagen,txtPrecio,txtCapacidad,txtAuto,txtPago,txtHora,txtArea)">Añadir</ion-button>
      </ion-card-content>
    </ion-row>
  </ion-grid>
</div>
</ion-slide>
</ion-content>
