<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="tellevo">{{ Titulo }}</ion-title>
    <ion-bottons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-bottons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-list>
    <ion-item>
      
      <ion-icon name="person" class="icon-login"></ion-icon> <ion-label>⠀Hola @{{username}}!</ion-label> 

    </ion-item>
    <ion-item [routerLink]="['/login']">
      <ion-icon name="log-in-sharp" slot="start"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
     
  </ion-list>
</ion-menu>
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-router-outlet id="main"></ion-router-outlet>
<br/>
  <!--Buscador-->
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-item *ngFor="let aux of ListViajes" [routerLink]="['/home/', aux.id]">
            <ion-col> 
              <ion-card class="color">
              <img src="{{ aux.imagen }}" alt="">
                <ion-card-header>
                  <ion-card-title> <b><ion-icon name="location-outline"></ion-icon> {{ aux.area }}</b> </ion-card-title>
                </ion-card-header>
                <ion-card-content> Valor: ${{ aux.precio }}<br>
                Conductor: {{ aux.nombre }}<br>
                Auto: {{ aux.tipoAuto }} <br>
                Patente:{{ aux.patente }} </ion-card-content>
                <ion-card-content style="text-align: center;"><ion-icon name="time-outline"></ion-icon> {{ aux.hora }}<br><ion-icon name="person-sharp"></ion-icon> {{ aux.capacidad }} asientos libres</ion-card-content>
              </ion-card>
            </ion-col>
          </ion-item>
       </ion-row>
      </ion-grid>
    </ion-list>
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/add']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> 
    </ion-fab>

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
  </ion-fab>-->


<!--Mapa-->
</ion-content>


